<!-- <app-header></app-header> -->

<body>

    <div class="dashboard">
        <div class="side-bar">
            <!-- <app-side-nav></app-side-nav> -->
             <app-side-bar></app-side-bar>
            
        </div>

    </div>
    <section>
        <div class="main-content">
            
            <router-outlet></router-outlet>
      




<!-- <h1>Welcome to Your Dashboard</h1>

<!-- <h5>{{user.email}}</h5>
<h3>{{user.isEmailVerified}}</h3>  -->
           
        </div>


    </section>
</body>

<!-- <router-outlet></router-outlet>  -->