<body>
    <div class="absolute">
        <div class="absolute inset-0 justify-center">
            <div class="bg-shape1 bg-yellow opacity-50 bg-blur"></div>
            <div class="bg-shape2 bg-yellow-light opacity-50 bg-blur"></div>
            <div class="bg-shape3 bg-yellow-dark opacity-50 bg-blur"></div>
        </div>

    </div>
    <div class="wrapper">
    
        <div class="container">

            <!-- <div class="icon">⏳</div> -->
             
         <div class="logo">
            <img class="icon-logo" src="../../assets/logo with border.png" alt="" style="height: 60px;">
            
            <img class="logo-letter" src="../../assets/ConnectBeez (1).png" alt="" style="height: 20px;"></div>
            <br>
            <br>
            <br>
            <h1>Waiting for Admin Approval</h1>
            <br>
            <p>Your account is pending approval from the administrator.</p>
            <div class="spinner"></div>
            <p>Please check back later. You will receive an email notification once approved.</p>
        </div>
        <br>
        <h4 routerLink="/login" >
            < Back to Login</h4>
    </div>
</body>