<section>
    
    <div class="all-post" >
       <div class="banner" style="background-image: url('https://ghcbapi.connectbeez.com/profile/assets/college_logo_banner/{{college.college_banner}}'); background-size: cover; background-repeat: no-repeat; background-position: center;height: 40vh;">
        </div>

       <div class="profile-details">
            <div>
                <h2>{{college.college_name}}</h2>
                <h3>{{college.college_category}}</h3>
                <p>{{college.college_address}}</p>
            </div>
            <div>
                <img src="https://ghcbapi.connectbeez.com/profile/assets/college_logo_banner/{{college.college_logo}}" alt="College Logo">
            </div>


       </div>
       
    </div>
    <div>
        <h1>Your Profile</h1>
    </div>
    <div class="details">
        <div>
            <label for="">Name</label>
            <p>{{college.admin_name}}</p>
        </div>
        <div>
            <label for="">Email Id</label>
            <p>{{college.admin_mail}}</p>
        </div>
        <div>
            <label for="">Phone Number</label>
            <p>{{college.admin_mobile}}</p>
        </div>
        <div>
            <label for="">Designation</label>
            <p>{{college.designation}}</p>
        </div>
        <div>
            <label for="">College Website</label>
            <p>{{college.college_website}}</p>
        </div>
    </div>
</section>